@page
@model Tippy.Pages.Projects.IndexModel

@{ ViewData["Title"] = "Projects"; }

<div class="level">
    <div class="level-left">
        <h1 class="title">Projects</h1>
    </div>
    <div class="level-right">
        <a asp-page="Create" class="button is-primary is-primary-button">
            <span class="icon"> <i class="fa fa-plus"></i> </span><span>Create new project</span>
        </a>
    </div>
</div>

@foreach (var item in Model.Projects)
{
    var className = item.IsActive ? "is-active" : "";
    <div class="box project-box @className">
        <div class="columns">
                <div class="column is-2">
                    <div class="heading">@Html.DisplayNameFor(modelItem => item.Name)</div>
                    <div class="title is-6">@Html.DisplayFor(modelItem => item.Name)</div>
                </div>
                <div class="column is-1">
                    <div class="heading">Status</div>
                    @if (Model.RunningFlags[item])
                    {
                        <div class="title is-6 has-text-running">running</div>
                    }
                    else
                    {
                        <div class="title is-6 has-text-stopped">stopped</div>
                    }
                </div>
                <div class="column is-1">
                    <div class="heading">@Html.DisplayNameFor(modelItem => item.Chain)</div>
                    <div class="title is-6">@Html.DisplayFor(modelItem => item.Chain)</div>
                </div>
                <div class="column is-2">
                    <div class="heading">RPC</div>
                    <div class="title is-6">http://localhost:@Html.DisplayFor(modelItem => item.NodeRpcPort)</div>
                </div>
                <div class="column" style="text-align: right;">
                    @if (Model.RunningFlags[item])
                    {
                        <form method="post" style="display: inline;">
                            <button asp-page="./Stop" asp-route-id="@item.Id" class="button is-dark" title="Stop">
                                <span class="icon">
                                    <i class="fas fa-pause"></i>
                                </span>
                            </button>
                            <button asp-page="./Restart" asp-route-id="@item.Id" class="button is-dark" title="Restart">
                                <span class="icon">
                                    <i class="fas fa-redo"></i>
                                </span>
                            </button>
                        </form>
                    }
                    else
                    {
                        <form asp-page="./Start" asp-route-id="@item.Id" method="post" style="display: inline;">
                            <button class="button is-dark" title="Start">
                                <span class="icon">
                                    <i class="fas fa-play"></i>
                                </span>
                            </button>
                            <button class="button is-dark ghost-button" disabled>
                                <span class="icon">
                                    <i class="fas fa-"></i>
                                </span>
                            </button>
                        </form>
                    }
                    <div class="separator mx-4"></div>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="button is-dark" title="Details">
                        <span class="icon">
                            <i class="fas fa-info"></i>
                        </span>
                    </a>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="button is-dark" title="Edit">
                        <span class="icon">
                            <i class="far fa-edit"></i>
                        </span>
                    </a>
                    <a asp-page="./Reset" asp-route-id="@item.Id" class="button is-dark" title="Reset data">
                        <span class="icon">
                            <i class="fas fa-eraser"></i>
                        </span>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="button is-dark" title="Delete">
                        <span class="icon">
                            <i class="far fa-trash-alt"></i>
                        </span>
                    </a>
                    @if (!item.IsActive)
                    {
                        <a asp-page="/Home/SwitchProject" asp-route-id="@item.Id" class="button is-dark" title="Switch to this project">
                            <span class="icon">
                                <i class="far fa-life-ring"></i>
                            </span>
                        </a>
                    }
                    else
                    { 
                        <button class="button is-dark ghost-button" disabled>
                            <span class="icon">
                                <i class="fas fa-"></i>
                            </span>
                        </button>
                    }
                </div>
            </div>
    </div>
}
