@page
@model Tippy.Pages.Projects.IndexModel

@{ ViewData["Title"] = "Projects"; }

<h1 class="title has-text-primary">Projects</h1>

<p class="my-4">
    <a asp-page="Create" class="button is-primary">
        <span class="icon is-small"> <i class="fa fa-plus"></i> </span><span>Create new project</span>
    </a>
</p>

<table class="table is-bordered is-striped is-narrow is-fullwidth is-hoverable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>Status</th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Chain)
            </th>
            <th>RPC</th>
            <th>Control</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            var className = item.IsActive ? "is-selected" : "";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (Model.RunningFlags[item])
                    {
                        <span class="tag is-success is-medium">Running</span>
                    }
                    else
                    {
                        <span class="tag is-light is-medium">Stopped</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chain)
                </td>
                <td>
                    http://localhost:@Html.DisplayFor(modelItem => item.NodeRpcPort)
                </td>
                <td>
                    @if (Model.RunningFlags[item])
                    {
                        <form method="post">
                            <button asp-page="./Stop" asp-route-id="@item.Id" class="button is-danger">
                                <span class="icon">
                                    <i class="fas fa-pause"></i>
                                </span>
                                <span>Stop</span>
                            </button>
                            <button asp-page="./Restart" asp-route-id="@item.Id" class="button is-warning">
                                <span class="icon">
                                    <i class="fas fa-redo"></i>
                                </span>
                                <span>Restart</span>
                            </button>
                        </form>
                    }
                    else
                    {
                        <form asp-page="./Start" asp-route-id="@item.Id" method="post">
                            <button class="button is-success">
                                <span class="icon">
                                    <i class="fas fa-play"></i>
                                </span>
                                <span>Start</span>
                            </button>
                        </form>
                    }
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="button is-info">
                        <span>Details</span>
                        <span class="icon is-small">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </a>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="button is-primary">
                        <span>Edit</span>
                        <span class="icon is-small">
                            <i class="far fa-edit"></i>
                        </span>
                    </a>
                    <a asp-page="./Reset" asp-route-id="@item.Id" class="button is-warning">
                        <span>Reset Data</span>
                        <span class="icon is-small">
                            <i class="fas fa-info-circle"></i>
                        </span>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="button is-danger">
                        <span>Delete</span>
                        <span class="icon is-small">
                            <i class="far fa-trash-alt"></i>
                        </span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
