@page
@model Tippy.Pages.RecordedTransactions.IndexModel
@{
    ViewData["Title"] = "Recorded Transactions";
}

<h1 class="title">Recorded Transactions</h1>

@if (Model.RecordedTransactions.Count > 0)
{
    <table class="table is-striped is-narrow is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th class="has-text-left">ID</th>
                <th class="has-text-left">Tx Hash</th>
                <th class="has-text-left">Error</th>
                <th class="has-text-left">Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tx in Model.RecordedTransactions)
            {
                <tr>
                    <td>
                        <a asp-page="./Details" asp-route-id="@tx.Id">@tx.Id</a>
                    </td>
                    <td>@tx.TxHash</td>
                    <td>@tx.Error</td>
                    <td>@tx.CreatedAt</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No failed transactions.</p>
}
