@model List<Tippy.ApiData.TransactionListResult>
@{
}

@foreach(var tx in Model)
{
    <hr />

    <div style="border-bottom:solid 1px #808080;" class="py-2 my-2">
        <a asp-page="/Explorer" asp-route-ref="transaction/@tx.TransactionHash" class="hash-text">
            @tx.TransactionHash
        </a>
    </div>

    <div class="columns">
        <div class="column is-6">
            @if (tx.IsCellbase)
            {
                <div>Cellbase</div>
            }
            else
            {
                @foreach(var input in tx.DisplayInputs)
                {
                    var capacity = decimal.Parse(input.Capacity) / 100_000_000;
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <a asp-page="/Addresses/Details" asp-route-address="@input.AddressHash" class="hash-text">
                                    @input.AddressHash.Substring(0, 12)...@input.AddressHash.Substring(input.AddressHash.Length - 12, 12)
                                </a>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                @capacity
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="column is-1">
            <span class="icon"><i class="fas fa-caret-right"></i></span>
        </div>
        <div class="column is-5">
            @foreach(var output in tx.DisplayOutputs)
            {
                var capacity = decimal.Parse(output.Capacity) / 100_000_000;
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a asp-page="/Addresses/Details" asp-route-address="@output.AddressHash" class="hash-text">
                                @output.AddressHash.Substring(0, 12)...@output.AddressHash.Substring(output.AddressHash.Length - 12, 12)
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            @capacity
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
