@page
@model Tippy.Pages.Blocks.IndexModel
@using Tippy.Ctrl 
@{ ViewData["Title"] = "Blocks"; }

<h1 class="title">Blocks</h1>

@if (Model.ActiveProject != null && ProcessManager.IsRunning(Model.ActiveProject))
{
    <table class="table is-striped is-narrow is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th class="has-text-left">Height</th>
                <th class="has-text-left">Transactions</th>
                <th class="has-text-left">Reward</th>
                <th class="has-text-left">Miner</th>
                <th class="has-text-left">Time</th>
                <th class="has-text-left">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var block in Model.Result)
            {
                <tr>
                    <td>
                        <a asp-page="./Details" asp-route-id="@block.Number">
                            @block.Number
                        </a>
                    </td>
                    <td>@block.TransactionsCount</td>
                    <td>
                        @if (string.IsNullOrEmpty(block.Reward))
                        {
                            <span>0+</span>
                        }
                        else
                        {
                            var reward = Tippy.Helpers.TransactionHelper.CkbAmount(block.Reward);
                            <span>@reward</span>
                        }
                    </td>
                    <td>
                        <a asp-page="/Addresses/Details" asp-route-address="@block.MinerHash" class="hash-text">
                            @block.MinerHash
                        </a>
                    </td>
                    <td>@block.Date()</td>
                    <td>
                        <form method="post">
                            <button asp-page="./RollBackTo" asp-route-hash="@block.BlockHash" class="button is-danger is-small" title="Roll back to this block">
                                <span class="icon">
                                    <i class="fas fa-cut"></i>
                                </span>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        @{
            int? previousPageEnd = int.Parse(Model.Result.First().Number) + Model.PageSize;
            if (previousPageEnd > Model.Total)
            {
                previousPageEnd = null;
            }
            var nextPageEnd = int.Parse(Model.Result.Last().Number) - 1;
        }
        @if (previousPageEnd != null)
        {
            <a asp-page="./Index" asp-route-e="@previousPageEnd" class="pagination-previous">Previous</a>
        }
        @if (nextPageEnd >= 0)
        {
            <a asp-page="./Index" asp-route-e="@nextPageEnd" class="pagination-next">Next</a>
        }
        <ul class="pagination-list">
            <!--
            <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
            <li><span class="pagination-ellipsis">…</span></li>
            -->
        </ul>
    </nav>
}
else
{
    <Partial name="_NoActiveProject" />
}
