@page
@model Tippy.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="title">Dashboard</h1>

@if (TempData["Message"]?.ToString().Length > 0)
{
    <div class="notification is-success">
        <button class="delete"></button>
        <div>@TempData["Message"]</div>
    </div>
}

@if (Model.Projects.Count == 0)
{
    <div class="notification is-warning">
        <p class="ml-3">
            <span class="icon has-text-danger">
                <i class="fas fa-mug-hot fa-3x"></i>
            </span>
        </p>
        <p>
            Create your first project and launch a CKB devnet quickly.
        </p>
    </div>
    <form asp-page="./QuickStart" method="post">
        <button class="button is-primary">
            <span class="icon">
                <i class="fas fa-magic"></i>
            </span>
            <span>Launch devnet</span>
        </button>
    </form>
}

@if (Model.ActiveProject != null)
{
    <h2 class="subtitle">@Model.ActiveProject.Name</h2>

    @if (Model.IsNodeRunning)
    {
        <form method="post">
            <button asp-page="/Projects/Stop" asp-route-id="@Model.ActiveProject.ID" class="button is-danger is-small">
                <span class="icon">
                    <i class="fas fa-pause"></i>
                </span>
                <span>Stop</span>
            </button>
            <button asp-page="/Projects/Restart" asp-route-id="@Model.ActiveProject.ID" class="button is-warning is-small">
                <span class="icon">
                    <i class="fas fa-redo"></i>
                </span>
                <span>Restart</span>
            </button>
        </form>
    }
    else
    {
        <form asp-page="/Projects/Start" asp-route-id="@Model.ActiveProject.ID" method="post">
            <button class="button is-success is-small">
                <span class="icon">
                    <i class="fas fa-play"></i>
                </span>
                <span>Start</span>
            </button>
        </form>
    }
}
