@page
@using Tippy.Util 
@model Tippy.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="title">Dashboard</h1>

@if ((TempData["Message"]?.ToString() ?? "").Length > 0)
{
    <div class="notification is-success">
        <button class="delete"></button>
        <div>@TempData["Message"]</div>
    </div>
}

@if (Model.Projects.Count == 0)
{
  <div class="container my-2" style="text-align: center;">
    <div class="pt-6 pb-2">
      <span class="icon">
        <i class="fas fa-exclamation-triangle fa-6x"></i>
      </span>
    </div>

    <p class="mt-4 mb-6">You haven't set up any chain yet. To get started, you can...</p>

    <form class="my-4" asp-page="./QuickStart" method="post">
        <button class="button is-primary is-primary-button">
            <span class="icon">
                <i class="fas fa-bolt"></i>
            </span>
            <strong>Launch a CKB devnet instantly</strong>
        </button>
    </form>

    <p>or</p>

    <div class="my-4">
        <a class="button is-primary is-primary-button" asp-page="/Projects/Create">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <strong>Create a customized chain to run</strong>
        </a>
    </div>
  </div>
}

@if (Model.ActiveProject != null)
{
    <div class="columns is-multiline dashboard-boxes">
        <div class="column">
            <div class="box" style="background-color: #7F519C;">
                <div class="heading">Info</div>
                <div class="title">@Model.ActiveProject.Name</div>
                <div class="heading">Chain type</div>
                <div class="title is-5">@Model.ActiveProject.Chain.ToString().ToLower()</div>
                <div class="heading">RPC</div>
                <div class="title is-5">http://localhost:@Model.ActiveProject.NodeRpcPort</div>
            </div>
        </div>
        @if (Model.IsNodeRunning)
        {
            <div class="column">
                <div class="box" style="background-color: #6d6f5b;">
                    <div class="heading">Status</div>
                    <div class="title">Running</div>
                    <form method="post" class="columns">
                        <div class="column is-half">
                            <button asp-page="/Projects/Stop" asp-route-id="@Model.ActiveProject.Id" class="button is-light is-medium my-1" style="color: #ff6960; width: 100%;">
                                <span class="icon">
                                    <i class="fas fa-pause"></i>
                                </span>
                                <span>Stop</span>
                            </button>
                        </div>
                        <div class="column is-half">
                            <button asp-page="/Projects/Restart" asp-route-id="@Model.ActiveProject.Id" class="button is-light is-medium my-1" style="color: #9261f0; width: 100%;">
                                <span class="icon">
                                    <i class="fas fa-redo"></i>
                                </span>
                                <span>Restart</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box" style="background-color: #56787B">
                    <div class="heading">Current Block</div>
                    <div class="title">@Model.TipBlockNumber</div>
                    @if (Model.ActiveProject.Chain == Tippy.Core.Models.Project.ChainType.Dev)
                    {
                    <div class="heading">Miner</div>
                    <div class="title is-5"><span style="font-size: 70%;">@Model.MinerAddress</span></div>
                    @if (Model.IsMinerRunning)
                    {
                        <form method="post" class="columns">
                            <div class="column is-half">
                                <button asp-page="/Miners/Stop" asp-route-id="@Model.ActiveProject.Id" class="button is-light is-medium my-1" style="color: #ff6960; width: 100%;">
                                    <span class="icon">
                                        <i class="fas fa-pause"></i>
                                    </span>
                                    <span>Stop</span>
                                </button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <form method="post" class="columns">
                            <div class="column is-half">
                                <button asp-page="/Miners/Start" asp-route-id="@Model.ActiveProject.Id" class="button is-light is-medium my-1" style="color: #b33ffe; width: 100%;">
                                    <span class="icon">
                                        <i class="fas fa-play"></i>
                                    </span>
                                    <span>Start</span>
                                </button>
                            </div>
                            <div class="column is-half">
                                <button asp-page="/Miners/GenerateBlock" asp-route-id="@Model.ActiveProject.Id" class="button is-light is-medium my-1" style="color: #b33ffe; width: 100%;">
                                    <span class="icon">
                                        <i class="fas fa-hammer"></i>
                                    </span>
                                    <span style="font-size: 80%;">Mine a block</span>
                                </button>
                            </div>
                        </form>
                        <p>
                            <a asp-page="/Miners/Advanced" class="has-text-primary-dark">Advanced mining</a>
                        </p>
                    }
                }
                else
                {
                    <div class="heading">Miner</div>
                    <div class="title is-5">Mining is disabled for @Model.ActiveProject.Chain.ToString().ToLower()</div>
                }
                </div>
            </div>
            <div class="column">
                <div class="box" style="background-color: #6C5054">
                    <div class="heading">Epoch</div>
                    <div class="title">@Hex.HexToUInt64(Model.EpochView!.Number)</div>
                    <div class="heading">Block Index</div>
                    @{ var current = Model.TipBlockNumber - Hex.HexToUInt64(Model.EpochView!.StartNumber) + 1; }
                    <div class="title is-5">@current</div>
                    <div class="heading">Length</div>
                    <div class="title is-5">@Hex.HexToUInt64(Model.EpochView!.Length)</div>
                    <div class="heading">Compact Target</div>
                    <div class="title is-5">@Hex.HexToUInt32(Model.EpochView!.CompactTarget)</div>
                </div>
            </div>
        }
        else
        {
            <div class="column">
                <div class="box" style="background-color: #6d6f5b;">
                    <div class="heading">Status</div>
                    <div class="title">Stopped</div>
                    <form asp-page="/Projects/Start" asp-route-id="@Model.ActiveProject.Id" method="post" class="columns">
                        <div class="column is-half">
                            <button class="button is-light is-medium my-1" style="color: #00cc9b; width: 100%;">
                                <span class="icon">
                                    <i class="fas fa-play"></i>
                                </span>
                                <span>Start</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="column">
                <div class="box" style="background-color: #56787B">
                    <div class="heading">Current Block</div>
                    <div class="title">NA</div>
                    <div class="heading">&nbsp;</div>
                    <div class="title is-5">&nbsp;</div>
                    <div class="heading">&nbsp;</div>
                    <div class="title is-5">&nbsp;</div>
                    <div class="heading">&nbsp;</div>
                    <div class="title is-5">&nbsp;</div>
                </div>
            </div>
            <div class="column">
                <div class="box" style="background-color: #6C5054">
                    <div class="heading">Epoch</div>
                    <div class="title">NA</div>
                    <div class="heading">&nbsp;</div>
                    <div class="title is-5">&nbsp;</div>
                    <div class="heading">&nbsp;</div>
                    <div class="title is-5">&nbsp;</div>
                    <div class="heading">&nbsp;</div>
                    <div class="title is-5">&nbsp;</div>
                </div>
            </div>
        }
    </div>

    @if (Model.IsNodeRunning && false)
    {
        <div class="columns is-multiline">
            <div class="column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Chart</p>
                    </div>
                    <div class="message-body">
                        <div id="chartLine" style="width: 100%"></div>
                    </div>
                </article>
            </div>
            <div class="column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Chart</p>
                    </div>
                    <div class="message-body">
                        <div id="chartScatter" style="width: 100%"></div>
                    </div>
                </article>
            </div>
            <div class="column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Chart</p>
                    </div>
                    <div class="message-body">
                        <div id="chartDoughnut" style="width: 100%"></div>
                    </div>
                </article>
            </div>
            <div class="column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Chart</p>
                    </div>
                    <div class="message-body">
                        <div id="chartBar" style="width: 100%"></div>
                    </div>
                </article>
            </div>
        </div>
    }
}
