@page
@using Tippy.Util 
@model Tippy.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="title">Dashboard</h1>

@if ((TempData["Message"]?.ToString() ?? "").Length > 0)
{
    <div class="notification is-success">
        <button class="delete"></button>
        <div>@TempData["Message"]</div>
    </div>
}

@if (Model.Projects.Count == 0)
{
  <div class="container my-2" style="text-align: center;">
    <div class="pt-6 pb-2">
      <span class="icon">
        <i class="fas fa-exclamation-triangle fa-6x"></i>
      </span>
    </div>

    <p class="mt-4 mb-6">You don’t have any chain/project. To get started, you can...</p>

    <form class="my-4" asp-page="./QuickStart" method="post">
        <button class="button is-primary is-primary-button">
            <span class="icon">
                <i class="fas fa-bolt"></i>
            </span>
            <strong>Launch a CKB devnet instantly</strong>
        </button>
    </form>

    <p>or</p>

    <div class="my-4">
        <a class="button is-primary is-primary-button" asp-page="/Projects/Create">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <strong>Create a customized chain to run</strong>
        </a>
    </div>
  </div>
}

@if (Model.ActiveProject != null)
{
    <div class="columns is-multiline">
        <div class="column">
            <div class="box notification is-primary">
                <div class="heading">Info</div>
                <div class="title">@Model.ActiveProject.Name</div>
                <div class="level">
                    <div class="level-item">
                        <div class="">
                            <div class="heading">Chain type</div>
                            <div class="title is-5">@Model.ActiveProject.Chain.ToString().ToLower()</div>
                        </div>
                    </div>
                    <div class="level-item">
                        <div class="">
                            <div class="heading">RPC</div>
                            <div class="title is-5">http://localhost:@Model.ActiveProject.NodeRpcPort</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.IsNodeRunning)
        {
            <div class="column">
                <div class="box notification is-warning">
                    <div class="heading">Actions</div>
                    <div class="title">Running</div>
                    <div class="level">
                        <div class="">
                            <div class="heading"></div>
                            <div class="title is-5">
                                <form method="post">
                                    <button asp-page="/Projects/Stop" asp-route-id="@Model.ActiveProject.Id" class="button is-danger is-small my-1">
                                        <span class="icon">
                                            <i class="fas fa-pause"></i>
                                        </span>
                                        <span>Stop</span>
                                    </button>
                                    <button asp-page="/Projects/Restart" asp-route-id="@Model.ActiveProject.Id" class="button is-info is-small my-1">
                                        <span class="icon">
                                            <i class="fas fa-redo"></i>
                                        </span>
                                        <span>Restart</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box notification is-info">
                    <div class="heading">Current Block</div>
                    <div class="title">@Model.TipBlockNumber</div>
                    <div class="level">
                        @if (Model.ActiveProject.Chain == Tippy.Core.Models.Project.ChainType.Dev)
                        {
                            <div class="level-item">
                                <div class="">
                                    <div class="heading">Miner</div>
                                    <div class="title is-5"><span style="font-size: 60%;">@Model.MinerAddress</span></div>
                                    @if (Model.IsMinerRunning)
                                    {
                                        <form method="post">
                                            <button asp-page="/Miners/Stop" asp-route-id="@Model.ActiveProject.Id" class="button is-danger is-small my-1">
                                                <span class="icon">
                                                    <i class="fas fa-pause"></i>
                                                </span>
                                                <span>Stop</span>
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post">
                                            <button asp-page="/Miners/Start" asp-route-id="@Model.ActiveProject.Id" class="button is-success is-small my-1">
                                                <span class="icon">
                                                    <i class="fas fa-play"></i>
                                                </span>
                                                <span>Start</span>
                                            </button>

                                            <button asp-page="/Miners/GenerateBlock" asp-route-id="@Model.ActiveProject.Id" class="button is-success is-small my-1">
                                                <span class="icon">
                                                    <i class="fas fa-hammer"></i>
                                                </span>
                                                <span>Mine one block</span>
                                            </button>
                                        </form>

                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="level-item">
                                <div class="">
                                    <div class="heading">Miner</div>
                                    <div class="title is-5">Mining is disabled for @Model.ActiveProject.Chain.ToString().ToLower()</div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box notification is-danger">
                    <div class="heading">Epoch</div>
                    <div class="title">@Hex.HexToUInt64(Model.EpochView!.Number)</div>
                    <div class="level">
                        <div class="level-item">
                            <div class="">
                                <div class="heading">Current</div>
                                @{ var current = Model.TipBlockNumber - Hex.HexToUInt64(Model.EpochView!.StartNumber) + 1; }
                                <div class="title is-5">@current</div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <div class="heading">Length</div>
                                <div class="title is-5">@Hex.HexToUInt64(Model.EpochView!.Length)</div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <div class="heading">Compact Target</div>
                                <div class="title is-5">@Hex.HexToUInt32(Model.EpochView!.CompactTarget)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="column">
                <div class="box notification is-warning">
                    <div class="heading">Actions</div>
                    <div class="title">Stopped</div>
                    <div class="level">
                        <div class="">
                            <div class="heading"></div>
                            <div class="title is-5">
                                <form asp-page="/Projects/Start" asp-route-id="@Model.ActiveProject.Id" method="post">
                                    <button class="button is-success is-small my-1">
                                        <span class="icon">
                                            <i class="fas fa-play"></i>
                                        </span>
                                        <span>Start</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box notification is-info">
                    <div class="heading">Current Block</div>
                    <div class="title">NA</div>
                    <div class="level">
                        <div class="level-item">
                            <div class="">
                                <div class="heading">&nbsp;</div>
                                <div class="title is-5">&nbsp;</div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <div class="heading">&nbsp;</div>
                                <div class="title is-5">&nbsp;</div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <div class="heading">&nbsp;</div>
                                <div class="title is-5">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="box notification is-danger">
                    <div class="heading">Epoch</div>
                    <div class="title">NA</div>
                    <div class="level">
                        <div class="level-item">
                            <div class="">
                                <div class="heading">&nbsp;</div>
                                <div class="title is-5">&nbsp;</div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <div class="heading">&nbsp;</div>
                                <div class="title is-5">&nbsp;</div>
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="">
                                <div class="heading">&nbsp;</div>
                                <div class="title is-5">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (Model.IsNodeRunning)
    {
        <div class="columns is-multiline">
            <div class="column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Chart</p>
                    </div>
                    <div class="message-body">
                        <div id="chartLine" style="width: 100%"></div>
                    </div>
                </article>
            </div>
            <div class="column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Chart</p>
                    </div>
                    <div class="message-body">
                        <div id="chartScatter" style="width: 100%"></div>
                    </div>
                </article>
            </div>
            <div class="column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Chart</p>
                    </div>
                    <div class="message-body">
                        <div id="chartDoughnut" style="width: 100%"></div>
                    </div>
                </article>
            </div>
            <div class="column is-6">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Chart</p>
                    </div>
                    <div class="message-body">
                        <div id="chartBar" style="width: 100%"></div>
                    </div>
                </article>
            </div>
        </div>
    }
}
