@page
@model Tippy.Pages.Addresses.DetailsModel
@{ ViewData["Title"] = "Address"; }

<div class="level">
    <div class="level-left">
        <h1 class="title">Address</h1>
    </div>
    <div class="level-right">
        <Partial name="_Search" />
    </div>
</div>

@{
    var balance = Tippy.Helpers.TransactionHelper.CkbAmount(Model.AddressResult.Balance);
}

<div class="box address-box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">
                        Address
                    </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div>@Model.AddressResult.AddressHash</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">
                        Balance
                    </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div>@balance</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">
                        Live Cells
                    </label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div>@Model.AddressResult.LiveCellsCount</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-12">
            <h2>Lock Script</h2>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Code Hash</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="input">
                                @Model.AddressResult.LockScript.CodeHash
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Args</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="input">
                                @Model.AddressResult.LockScript.Args
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Type</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <div class="input">
                                @Model.AddressResult.LockScript.HashType
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box transaction-box">
    <h2>Transactions</h2>
    <div id="txs">Loading...</div>
</div>

<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous" style="display: none;">Previous</a>
    <a class="pagination-next" style="display: none;">Next</a>
    <ul class="pagination-list"></ul>
</nav>

@section scripts{
    <script>
        var page = 1;
        const pageSize = 15;
        function loadTxs() {
            $("#txs").load("/Addresses/Transactions?address=@Model.AddressResult.AddressHash&pageSize=" + pageSize + "&page=" + page, function () {
                if (page > 1) {
                    $(".pagination-previous").show();
                } else {
                    $(".pagination-previous").hide();
                }
                if ($("#txs .tx").length >= pageSize) {
                    $(".pagination-next").show();
                } else {
                    $(".pagination-next").hide();
                }
           });
        }
        $(function () {
            $(".pagination-previous").click(function (e) {
                page -= 1;
                loadTxs();
                e.preventDefault();
            });
            $(".pagination-next").click(function (e) {
                page += 1;
                loadTxs();
                e.preventDefault();
            });

            loadTxs();
        });
    </script>
}
