@page
@model Tippy.Pages.FailedTransactions.DetailsModel
@{
    ViewData["Title"] = "Failed Transaction";
}

<h1 class="title">Failed Transaction</h1>

<div class="box transaction-box">
    <div class="columns is-multiline">
        <div class="column is-2">
            <label>Time</label>
        </div>
        <div class="column is-10">
            <span>@Model.Transaction.CreatedAt</span>
        </div>

        <div class="column is-2">
            <label>Error</label>
        </div>
        <div class="column is-10">
            <pre style="white-space: pre-wrap;"><code style="color: white;">@Model.Transaction.Error</code></pre>
        </div>

        <div class="column is-2">
            <label>Raw Data</label>

            <hr />
            <div class="columns is-multiline">
                @if (Model.IsDebuggerSupported)
                {
                    <div class="column is-12">
                        <Partial name="_DebuggerInfo" />
                    </div>
                        @foreach (var (input, index) in Model.DisplayInputs.Select((o, i) => (o, i)))
                        {
                            <div class="column is-10">
                                <a asp-page="/Debugger/Details" asp-route-txId="@Model.ID" asp-route-ioIndex="@index" asp-route-ioType="input" asp-route-scriptType="0" class="button">Debug Input @index Lock</a>
                            </div>

                            <div class="column is-10">
                                @if (input.Type != null)
                                {
                                    <a asp-page="/Debugger/Details" asp-route-txId="@Model.ID" asp-route-ioIndex="@index" asp-route-ioType="input" asp-route-scriptType="1" class="button">Debug Input @index Type</a>
                                }
                            </div>
                        }

                        @foreach (var (output, index) in Model.DisplayOutputs.Select((o, i) => (o, i)))
                        {
                            <div class="column is-10">
                                @if (Model.ParsedTransaction!.Outputs[index].Type != null)
                                {
                                    <a asp-page="/Debugger/Details" asp-route-txId="@Model.ID" asp-route-ioIndex="@index" asp-route-ioType="output" asp-route-scriptType="1" class="button">Debug Output @index Type</a>
                                }
                            </div>
                        }
                }
            </div>
        </div>
        <div class="column is-10">
            <pre><code>@Html.Raw(Model.RawTransaction.Replace("\r\n", "<br />"))</code></pre>
        </div>
    </div>
</div>
