@model Tippy.Pages.PageModelBase
@using Tippy.Ctrl;
@using Tippy.Util;
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Tippy</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
    </style>
</head>
<body class="has-navbar-fixed-top">
    <header class="hero">
        <div class="hero-head">
            <nav class="navbar has-shadow top-nav-bar is-fixed-top py-2" role="navigation" aria-label="main navigation" id="header-navbar">
                <div class="navbar-brand">
                    <div class="navbar-item is--brand has-dropdown is-hoverable project-menu-container">
                        <div class="project-menu-link level m-2">
                            <div class="level-left">
                                <div>
                                <div class="heading my-0">Chain</div>
                                @{ 
                                    var projectName = Model.ActiveProject?.Name ?? "NA";
                                }
                                <div class="title is-6">@projectName</div>
                                </div>
                            </div>
                            <div class="level-right">
                                <span class="icon"><i class="fas fa-caret-down"></i></span>
                            </div>
                        </div>

                        <div class="navbar-dropdown is-right" style="height: 100vh;">
                            @foreach (var item in Model.Projects)
                            {
                                @if (item.Id == Model.ActiveProject?.Id)
                                {
                                    <span class="navbar-item"><strong>@item.Name</strong></span>
                                }
                                else
                                {
                                    <a asp-page="/Home/SwitchProject" asp-route-id="@item.Id" class="navbar-item button-as-link">@item.Name</a>
                                }
                                <hr class="navbar-thin-divider" />
                            }

                            <div class="bottom-fixed">
                              <hr class="navbar-thin-divider" />
                              <form class="" asp-page="./QuickStart" method="post">
                                  <button class="button is-dark">
                                      <span class="icon"><i class="fas fa-bolt"></i></span>
                                      <span>Instant Launch</span>
                                  </button>
                              </form>
                              <hr class="navbar-thin-divider" />
                              <a asp-page="/Projects/Index" class="button is-dark">
                                  <span class="icon"><i class="fas fa-layer-group"></i></span>
                                  <span>Manage Chains</span>
                              </a>
                            </div>
                        </div>
                    </div>
                    <span class="=navbar-item">
                        <span class="nav-separator"></span>
                    </span>
                </div>

                @if (Model.ActiveProject != null && ProcessManager.IsRunning(Model.ActiveProject))
                {
                    <script>
                        var intervalId = setInterval(() => {
                            $.get("/Home/NavbarStatus", (data) => {
                                $(".navbar-status").remove();
                                $("#header-navbar").append(data);
                                $.event.trigger({
                                    type: "tipnumberupdated",
                                    message: $(".navbar-status #tip-block-number").text(),
                                    time: new Date()
                                });
                            });
                        }, 5000);
                    </script>
                }
                <Partial name="_NavbarStatus" />
            </nav>
        </div>
    </header>

    <div class="wrapper">
        <div class="columns">
            <aside id="main-sidebar" class="column aside">
                <nav class="menu active-menu--<%= activeMenu %>">
                    <ul class="menu-list">
                        <li>
                            <a asp-page="/Home/Index">
                                <span class="icon is-small"><i class="fas fa-tachometer-alt"></i></span>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        @if (Model.ActiveProject != null && ProcessManager.IsRunning(Model.ActiveProject))
                        { 
                            <li>
                                <a asp-page="/Blocks/Index">
                                    <span class="icon is-small"><i class="fas fa-server"></i></span>
                                    <span class="menu-text">Blocks</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Transactions/Index">
                                    <span class="icon is-small"><i class="fas fa-microchip"></i></span>
                                    <span class="menu-text">Transactions</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/FailedTransactions/Index">
                                    <span class="icon is-small"><i class="fas fa-bug"></i></span>
                                    <span class="menu-text">Failed Txs</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/TxPool/Index">
                                    <span class="icon is-small"><i class="fas fa-water"></i></span>
                                    <span class="menu-text">Tx Pool</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Tokens/Index">
                                    <span class="icon is-small"><i class="fas fa-dollar-sign"></i></span>
                                    <span class="menu-text">Tokens</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/NodeLog/Index">
                                    <span class="icon is-small"><i class="far fa-file-alt"></i></span>
                                    <span class="menu-text">Logs</span>
                                </a>
                            </li>
                        }
                    </ul>
                    <p class="menu-label">Configuration</p>
                    <ul class="menu-list">
                        <li>
                            <a asp-page="/Projects/Index">
                                <span class="icon is-small"><i class="fas fa-layer-group"></i></span>
                                <span class="menu-text">Chains</span>
                            </a>

                        </li>
                        <li>
                            <a asp-page="/Config/Index">
                                <span class="icon is-small"><i class="fas fa-cog"></i></span> <span class="menu-text">Settings</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="sidebar-toggler-container p-4">
                    <div class="has-text-centered">
                        <figure class="is-inline-block">
                            <img src="~/img/logo.png" width="100" />
                        </figure>
                    </div>
                </div>
            </aside>

            <main class="column main pr-5">
                @if (ViewData["ErrorMessage"] is string errorMessage && errorMessage.Length > 0)
                {
                    <div class="is-fullhd pt-5 mb-3">
                        <div class="notification is-danger">
                            <p class="m-3">
                                <span class="icon has-text-white">
                                    <i class="fas fa-exclamation-triangle fa-3x"></i>
                                </span>
                            </p>
                            <p>@errorMessage</p>
                        </div>
                    </div>
                    { ViewData.Remove("ErrorMessage"); }
                }

                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
