@model Tippy.Pages.PageModelBase
@using Tippy.Ctrl;
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Tippy</title>
    <link rel="stylesheet" href="~/lib/mazipan/mazipan.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
    </style>
</head>
<body>
    <header class="hero">
        <div class="hero-head">
            <nav class="navbar has-shadow top-nav-bar py-2" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    @if (Model.ActiveProject != null && Model.Projects.Count > 1)
                    {
                        <div class="navbar-item is--brand has-dropdown is-hoverable project-menu-container">
                            <span class="navbar-link">
                                Project
                                <br/>
                                TODO
                            </span>

                            <div class="navbar-dropdown is-right" style="height: 100vh;">
                                @foreach (var item in Model.Projects)
                                {
                                    @if (item.Id == Model.ActiveProject.Id)
                                    {
                                        <span class="navbar-item"><strong>@item.Name</strong></span>
                                    }
                                    else
                                    {
                                        <a asp-page="/Home/SwitchProject" asp-route-id="@item.Id" class="navbar-item button-as-link">@item.Name</a>
                                    }
                                    <hr class="navbar-divider" />
                                }
                                <a asp-page="/Projects/Index" class="navbar-item">
                                    <strong>Manage projects</strong>
                                </a>
                            </div>
                        </div>
                        <span class="=navbar-item">
                            <span class="nav-separator"></span>
                        </span>
                    }
                </div>

                <div class="navbar-menu navbar-end" id="navMenu">
                    @if (Model.ActiveProject != null && Model.Projects.Count > 1)
                    {
                        var isRunning = ProcessManager.IsRunning(Model.ActiveProject);
                        <div class="py-2 mx-6">
                            <div class="heading my-0">Status</div>
                            @if (isRunning)
                            {
                                <div class="title is-6 has-text-success">running</div>
                            }
                            else
                            {
                                <div class="title is-6 has-text-danger">stopped</div>
                            }
                        </div>

                        @if (isRunning)
                        {
                            <form method="post">
                                <button asp-page="/Projects/Stop" asp-route-id="@Model.ActiveProject.Id" class="button is-dark my-1 mx-2">
                                    <span class="icon">
                                        <i class="fas fa-pause"></i>
                                    </span>
                                </button>
                            </form>
                            <form method="post">
                                <button asp-page="/Projects/Restart" asp-route-id="@Model.ActiveProject.Id" class="button is-dark my-1 mx-2">
                                    <span class="icon">
                                        <i class="fas fa-redo"></i>
                                    </span>
                                </button>
                            </form>
                        }
                        else
                        {
                            <form asp-page="/Projects/Start" asp-route-id="@Model.ActiveProject.Id" method="post">
                                <button class="button is-dark my-1 mx-2">
                                    <span class="icon">
                                        <i class="fas fa-play"></i>
                                    </span>
                                </button>
                            </form>
                        }
                    }
                    <span class="=navbar-item">
                        <span class="nav-separator"></span>
                    </span>
                    <a class="button is-dark my-1 mx-2" asp-page="/Config/Index">
                        <span class="icon is-small"><i class="fas fa-cog"></i></span>
                    </a>
                    <!--
                    <a class="navbar-item nav-tag">
                        <span class="icon is-small">
                            <i class="far fa-envelope animated"></i>
                        </span>
                        <span class="tag is-success counter">2</span>
                    </a>
                    <a class="navbar-item nav-tag">
                        <span class="icon is-small">
                            <i class="far fa-bell animated"></i>
                        </span>
                        <span class="tag is-danger counter">6</span>
                    </a>
                    -->

                </div>
            </nav>
        </div>
    </header>

    <div class="wrapper">
        <div class="columns">
            <aside id="main-sidebar" class="column is-2 aside">
                <nav class="menu active-menu--<%= activeMenu %>">
                    <p class="menu-label">General</p>
                    <ul class="menu-list">
                        <li>
                            <a asp-page="/Home/Index">
                                <span class="icon is-small"><i class="fas fa-tachometer-alt"></i></span>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>
                        @if (Model.ActiveProject != null)
                        { 
                            <li>
                                <a asp-page="/Blocks/Index">
                                    <span class="icon is-small"><i class="fas fa-server"></i></span>
                                    <span class="menu-text">Blocks</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Transactions/Index">
                                    <span class="icon is-small"><i class="fas fa-microchip"></i></span>
                                    <span class="menu-text">Transactions</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/Explorer">
                                    <span class="icon is-small"><i class="fab fa-wpexplorer"></i></span>
                                    <span class="menu-text">Explorer</span>
                                </a>
                            </li>
                            <li>
                                <a asp-page="/NodeLog/Index">
                                    <span class="icon is-small"><i class="far fa-file-alt"></i></span>
                                    <span class="menu-text">Logs</span>
                                </a>
                            </li>
                        }
                    </ul>
                    <p class="menu-label">Configuration</p>
                    <ul class="menu-list">
                        <li>
                            <a asp-page="/Projects/Index">
                                <span class="icon is-small"><i class="fas fa-project-diagram"></i></span>
                                <span class="menu-text">Projects</span>
                            </a>

                        </li>
                        <li>
                            <a asp-page="/Config/Index">
                                <span class="icon is-small"><i class="fas fa-cog"></i></span> <span class="menu-text">Settings</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="sidebar-toggler-container p-4">
                    <div class="level">
                        <div class="level-left">
                            <span class="">
                                <i class="fab fa-connectdevelop has-text-success"></i>
                                <strong>Tippy</strong>
                            </span>
                        </div>
                        <div class="level-right">
                            <!--
                            <div id="sidebar-toggler-button">
                                <span class="icon is-small"><i class="fa fa-angle-double-left"></i></span>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </aside>

            <main class="column main">
                @if (ViewData["ErrorMessage"] is string errorMessage && errorMessage.Length > 0)
                {
                    <div class=ontainer is-fullhd pt-5">
                        <div class="notification is-danger">
                            <p class="m-3">
                                <span class="icon has-text-white">
                                    <i class="fas fa-exclamation-triangle fa-3x"></i>
                                </span>
                            </p>
                            <p>@errorMessage</p>
                        </div>ViewData.Remove("ErrorMessage");
                    </div>
                }

                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
