@model List<Tippy.ApiData.TransactionListResult>
@{
}

@foreach(var tx in Model)
{
    <div class="tx">
    <hr />

    <div style="border-bottom:solid 1px #808080;" class="py-2 my-2">
        <a asp-page="/Transactions/Details" asp-route-txhash="@tx.TransactionHash" class="hash-text">
            @tx.TransactionHash
        </a>
    </div>

    <div class="columns">
        <div class="column is-6">
            @if (tx.IsCellbase)
            {
                <div>Cellbase</div>
            }
            else
            {
                @foreach(var input in tx.DisplayInputs)
                {
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <a asp-page="/Addresses/Details" asp-route-address="@input.AddressHash" class="hash-text">
                                    @input.AddressHash.Substring(0, 12)...@input.AddressHash.Substring(input.AddressHash.Length - 12, 12)
                                </a>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                @if (input.SudtInfo != null)
                                {
                                    <span>
                                        @Tippy.Helpers.NumberHelper.Amount(input.SudtInfo.Amount, input.SudtInfo.Decimals)
                                        <a asp-page="/Tokens/Details" asp-route-id="@input.SudtInfo.Id">@input.SudtInfo.Name</a>
                                    </span>
                                }
                                else
                                {
                                    var capacity = Tippy.Helpers.NumberHelper.CkbAmount(input.Capacity);
                                    <span>
                                        @capacity
                                        CKB
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="column is-1">
            <span class="icon"><i class="fas fa-caret-right"></i></span>
        </div>
        <div class="column is-5">
            @foreach(var output in tx.DisplayOutputs)
            {
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a asp-page="/Addresses/Details" asp-route-address="@output.AddressHash" class="hash-text">
                                @output.AddressHash.Substring(0, 12)...@output.AddressHash.Substring(output.AddressHash.Length - 12, 12)
                            </a>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            @if (output.SudtInfo != null)
                            {
                                <span>
                                    @Tippy.Helpers.NumberHelper.Amount(output.SudtInfo.Amount, output.SudtInfo.Decimals)
                                    <a asp-page="/Tokens/Details" asp-route-id="@output.SudtInfo.Id">@output.SudtInfo.Name</a>
                                </span>
                            }
                            else
                            {
                                var capacity = decimal.Parse(output.Capacity) / 100_000_000;
                                <span>
                                    @Tippy.Helpers.NumberHelper.CkbAmount(output.Capacity)
                                    CKB
                                </span>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>
}

