@page
@model Tippy.Pages.Transactions.DetailsModel
@{ ViewData["Title"] = "Transaction"; }

<h1 class="title">Transaction <span style="font-size:70%;">@Model.TransactionDetail.TransactionHash</span></h1>

<div class="box transaction-box">
    <div class="columns is-multiline">
        <div class="column is-half">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <label>Block Height</label>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div>
                            <a asp-page="/Blocks/Details" asp-route-id="@Model.TransactionDetail.BlockNumber">
                                @Model.TransactionDetail.BlockNumber
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <label>Transaction Fee</label>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div>@Model.TransactionDetail.TransactionFee</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-half" style="border-left: 1px solid #808080;">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <label>Timestamp</label>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div>@Model.TransactionDetail.Date()</div>
                    </div>
                </div>
            </div>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <label>Status</label>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <div>@Model.TransactionDetail.TxStatus</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tabs is-medium">
    <ul>
        <li class="is-active"><a href="#panel-inputs">Inputs (@Model.TransactionDetail.DisplayInputs.Length)</a></li>
        <li><a href="#panel-outputs">Outputs (@Model.TransactionDetail.DisplayOutputs.Length)</a></li>
        <li><a href="#panel-cell-deps">Cell Deps</a></li>
        <li><a href="#panel-header-deps">Header Deps</a></li>
        <li><a href="#panel-witnesses">Witnesses</a></li>
    </ul>
</div>

<div class="box transaction-box tab-panel" id="panel-inputs">
    <div id="inputs">
        @foreach (var (input, index) in Model.TransactionDetail.DisplayInputs.Select((o, i) => (o, i)))
        {
            @if (input.FromCellbase)
            {
                <div class="columns">
                    <div class="column is-2">
                        Cellbase for Block
                    </div>
                    <div class="column is-10">
                        <a asp-page="/Blocks/Details" asp-route-id="@input.TargetBlockNumber">
                            @input.TargetBlockNumber
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="columns is-multiline">
                    <div class="column is-2">
                        Address
                    </div>
                    <div class="column is-10">
                        <a asp-page="/Addresses/Details" asp-route-address="@input.AddressHash" class="hash-text">
                            @input.AddressHash
                        </a>
                    </div>

                    <div class="column is-2">
                        Tx
                    </div>
                    <div class="column is-10">
                        <a asp-page="/Transactions/Details" asp-route-txhash="@input.GeneratedTxHash" class="hash-text">
                            @input.GeneratedTxHash
                        </a>
                    </div>

                    <div class="column is-2">
                        Sudt Script Args<br />(sUDT amount)
                    </div>
                    <div class="column is-10">
                        @if (input.SudtInfo != null)
                        {
                            @input.SudtInfo?.SudtScriptArgs
                            <span>(@Tippy.Helpers.TransactionHelper.SudtAmount(input.SudtInfo!.Amount))</span>
                        }
                    </div>

                    <div class="column is-2">
                        CKB / Occupied CKB
                    </div>
                    <div class="column is-10">
                        @Tippy.Helpers.TransactionHelper.CkbAmount(input.Capacity)

                        <span>/</span>
                        <span>@Tippy.Helpers.TransactionHelper.CkbAmount(input.OccupiedCapacity ?? "0")</span>
                    </div>
                </div>
            }
            <hr />
        }
    </div>
</div>

<div class="box transaction-box tab-panel" id="panel-outputs">
    <div id="outputs">
        @foreach(var (output, index) in Model.TransactionDetail.DisplayOutputs.Select((o, i) => (o, i)))
        {
            <div class="columns is-multiline">
                <div class="column is-2">
                    Address
                </div>
                <div class="column is-10">
                    <a asp-page="/Addresses/Details" asp-route-address="@output.AddressHash" class="hash-text">
                        @output.AddressHash
                    </a>
                </div>

                <div class="column is-2">
                    Sudt Script Args<br />(sUDT amount)
                </div>
                <div class="column is-10">
                    @if (output.SudtInfo != null)
                    {
                        <a asp-page="/Sudt/Details" asp-route-sudtScriptArgs="@output.SudtInfo!.SudtScriptArgs" class="hash-text">
                            @output.SudtInfo?.SudtScriptArgs
                        </a>
                        <span>(@Tippy.Helpers.TransactionHelper.SudtAmount(output.SudtInfo!.Amount))</span>
                    }
                </div>

                <div class="column is-2">
                    CKB / Occupied CKB
                </div>
                <div class="column is-10">
                    @Tippy.Helpers.TransactionHelper.CkbAmount(output.Capacity)

                    <span>/</span>
                    <span>@Tippy.Helpers.TransactionHelper.CkbAmount(output.OccupiedCapacity ?? "0")</span>
                </div>

                <div class="column is-2">
                    Lock Script
                </div>
                <div class="column is-12">
                    @{ var lockScript = Model.OutputLockScripts[index]; }
                    <pre>
{
    code_hash: @lockScript.CodeHash,
    args: @lockScript.Args,
    hash_type: @lockScript.HashType
}</pre>
                </div>

                <div class="column is-2">
                    Type Script
                </div>
                <div class="column is-12">
                    @{ var typeScrit = Model.OutputTypeScripts[index]; }
                    @if (typeScrit != null)
                    {
                        <pre>
{
    code_hash: @typeScrit.CodeHash,
    args: @typeScrit.Args,
    hash_type: @typeScrit.HashType
}</pre>
                    }
                    else
                    {
                        <pre>null</pre>
                    }
                </div>

                <div class="column is-2">
                    Data
                </div>
                <div class="column is-12">
                    <pre>@Model.OutputsData[index]</pre>
                </div>
            </div>
            <hr />
        }
    </div>
</div>

<div class="box dark-box tab-panel" id="panel-cell-deps">
    @foreach(var dep in Model.TransactionDetail.CellDeps)
    {
        <div class="columns is-multiline mb-4">
            <div class="column is-2">OutPoint.TxHash</div>
            <div class="column is-10">
                <a asp-page="/Transactions/Details" asp-route-txhash="@dep.OutPoint.TxHash" class="hash-text">
                    @dep.OutPoint.TxHash
                </a>
            </div>

            <div class="column is-2">OutPoint.Index</div>
            <div class="column is-10">@dep.OutPoint.Index</div>

            <div class="column is-2">DepType</div>
            <div class="column is-10">@dep.DepType</div>
        </div>
        <hr />
    }
</div>

<div class="box dark-box tab-panel" id="panel-header-deps">
    <div class="columns is-multiline">
        @foreach (var dep in Model.TransactionDetail.HeaderDeps)
        {
            <div class="column is-2">HeaderDep</div>
            <div class="column is-10">
                <a asp-page="/Blocks/Details" asp-route-id="@dep">
                    @dep
                </a>
            </div>
            <hr />
        }
    </div>
</div>

<div class="box dark-box tab-panel" id="panel-witnesses">
    <div class="columns is-multiline">
        @foreach (var witness in Model.TransactionDetail.Witnesses)
        {
            <div class="column is-2">Witness</div>
            <div class="column is-10 break-all-text">
                @witness
            </div>
            <hr />
        }
    </div>
</div>

@section Scripts {
    <script>
        $(".tabs li a").click((e) => {
            $(".tabs li").removeClass("is-active");
            $(".tab-panel").hide();

            $(e.target).parent("li").addClass("is-active");
            $($(e.target).attr("href")).show();

            e.preventDefault();
        });

        $(".tabs li a").first().trigger("click");
    </script>
}
