@page
@model Tippy.Pages.Transactions.IndexModel
@using Tippy.Ctrl
@{ ViewData["Title"] = "Transactions"; }

<h1 class="title">Transactions</h1>

@if (Model.ActiveProject != null && ProcessManager.IsRunning(Model.ActiveProject))
{
    <table class="table is-striped is-narrow is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th class="has-text-left">Transaction hash</th>
                <th class="has-text-left">Height</th>
                <th class="has-text-left">Capacity</th>
                <th class="has-text-left">Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tx in Model.Result.Data)
            {
                <tr>
                    <td>
                        <a asp-page="/Transactions/Details" asp-route-txhash="@tx.Attributes.TransactionHash" class="hash-text">
                            @tx.Attributes.TransactionHash
                        </a>
                    </td>
                    <td>
                        <a asp-page="/Blocks/Details" asp-route-id="@tx.Attributes.BlockNumber">
                            @tx.Attributes.BlockNumber
                        </a>
                    </td>
                    <td>
                        @{
                            var capacity = Tippy.Helpers.TransactionHelper.CkbAmount(tx.Attributes.CapacityInvolved);
                        }
                        <span>@capacity</span>
                    </td>
                    <td>
                        @tx.Attributes.Date()
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        <a class="pagination-next">More(TODO)</a>
    </nav>
}
else
{
    <Partial name="_NoActiveProject" />
}
